@use '../variables' as vars;

.v-field--variant-outlined .v-field__outline__start.v-locale--is-ltr,
.v-locale--is-ltr .v-field--variant-outlined .v-field__outline__start {
  border-radius: vars.$border-radius-root 0 0 vars.$border-radius-root;
}

.v-field--variant-outlined .v-field__outline__end.v-locale--is-ltr,
.v-locale--is-ltr .v-field--variant-outlined .v-field__outline__end {
  border-radius: 0 vars.$border-radius-root vars.$border-radius-root 0;
}

.v-checkbox:has(input[required]) .v-label,
.v-field:has(input[required]) .v-label,
.v-field:has(textarea[required]) .v-label {
  padding-inline-end: 8px;
}
.v-input:has(input[required]) .v-label::after,
.v-field:has(input[required]) .v-label::after,
.v-field:has(textarea[required]) .v-label::after {
  position: absolute;
  content: '*';
  color: rgb(var(--v-theme-error));
  top: 0;
  inset-inline-end: 0; /* to support also RTL direction */
}

.v-checkbox:has(input[required]) .v-label::after {
  position: absolute;
  content: '*';
  color: rgb(var(--v-theme-error));
  top: 25%;
  inset-inline-end: 0; /* to support also RTL direction */
}
