@use 'variables' as vars;
@use 'vuetify' with (
  $font-size-root: vars.$font-size-root,
  $border-radius-root: vars.$border-radius-root,
  $body-font-family: vars.$body-font-family,
  $heading-font-family: vars.$heading-font-family,
  $typography: vars.$typography,
  $rounded: vars.$rounded
);

@use 'override';
@use 'layout/container';
@use 'layout/sidebar';
@use 'layout/topbar';
@use 'layout/horizontal';

@use 'components/VAlert';
@use 'components/VButtons';
@use 'components/VCard';
@use 'components/VCarousel';
@use 'components/VField';
@use 'components/VInput';
@use 'components/VNavigationDrawer';
@use 'components/VShadow';
@use 'components/VTextField';
@use 'components/VTextarea';
@use 'components/VTabs';

@use 'pages/datatable';
@use 'pages/dashboards';
@use 'pages/editor';

.outlined {
  border: 1px solid #c6c6c6 !important;
}

.v-messages__message {
  white-space: pre-wrap;
}
